form{
  width: 60vw;
  margin: 0 auto;
  padding:10px;
  
}

#title,#description{
  color:white;
  text-align:center;
}

input,select,textarea{
  display:block;
  width:100%;
  margin-bottom:10px;
  height:30px;
}

#radio1,#radio2{
  display:inline;
  width:auto;
  height:auto;
}

#check1,#check2,#check3{
  display:inline;
  width:auto;
  height:auto;

}

.radio-group {
 
  align-items: center;  
}


form{  
  background-color:rgba(0, 0, 0,0.6);
  color:white;  
}

body{
  background-color:#4e54c8
}

#submit{
  background-color:rgba(0,255,10,0.6);  
color:white ;
}




